.body{
    padding: 2% 10%;
}

.title-text h2{
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

.title-img{
    width: 100%;
    height: 20%;
    margin-bottom: 50px;
}

.box{
    width: 100%;
    height: 100%;
    background-color: grey;
}

.latest-news1{
    margin-bottom: 100px;
}

.box1{
    width: 100%;
    height: 200%;
    background-color: grey;
}

.latest-news2{
    margin-bottom: 200px;
}


.last-part p{
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
    margin-top: 50px;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: grey; 
}