.news-block{ 
    border-bottom: 2px solid rgb(218, 213, 213);
    h3{
      text-align: center;
      font-weight: 700;  
    }
    .news-box{
        img{
            height: 15vh;
            width: 100%;
        }
        h6{
            color: gray;
        }
        h5{
            font-weight: 700;
        }
    }
}