.filter-box{
    height: 100vh;
    background: linear-gradient(to bottom, #FF8B8B, #fa6060);
    .filter-box-title{
        text-align: center;
        background: #C4C4C4;
    }
    .check-block{
        background: #FFEBEB;
    }
}